* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

body {
  background-color: #f5f5f5;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Layout */
header,
main {
  max-width: 600px;
  margin: 0 auto;
}

header {
  background-image: url("images/header-bg.png");
  background-size: cover;
  color: #fff;
  padding: 50px 45px;
}

header p {
  margin-top: 5px;
}

main {
  padding: 20px 45px;
  background-color: #fff;
}

/* Menu Card */

.menu-card {
  display: flex;
  column-gap: 20px;
  border-bottom: 1px solid #d2d2d2;
  padding: 2.5rem 0;
}

.menu-card-image {
  line-height: 1;
  font-size: 4rem;
}

.menu-card-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.menu-card-description {
  color: #8b8b8b;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  margin-bottom: 0.9rem;
}

.menu-card-price {
  font-weight: 500;
}

.menu-card-actions {
  margin-left: auto;
}

.menu-card-add-btn {
  border: 1px solid #dedede;
  width: 47px;
  height: 47px;
  border-radius: 100%;
  font-size: 2rem;
  line-height: 1;
  color: #3c3c3c;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.menu-card-add-btn:hover {
  background-color: #f0f9ff;
}

/* Order Summary */
.order-summary-title {
  display: block;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.order-summary span {
  font-weight: 500;
}

.order-summary [class*="price"] {
  margin-left: auto;
}

.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.order-item-name,
.order-total-title {
  font-size: 1.3rem;
}

.order-item-remove {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  color: #8b8b8b;
  font-size: 0.9rem;
}

.order-total {
  border-top: 2px solid #393333;
  margin-top: 1.8rem;
  padding-top: 1rem;
  display: flex;
}

.place-order-btn {
  margin-top: 3rem;
  width: 100%;
  padding: 1.4rem 0;
  border: 0;
  border-radius: 4px;
  background-color: #16db99;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
}
